body {
  background-image: url("1_bg.jpg");
  background-color: pink;
  background-blend-mode: lighten;
  background-position: 0px 0px;
  /* background-repeat: repeat-x; */
  animation: animatedBackground 60s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}