.bg-1 {
  background-image: url("bg_hearts.jpg");
  background-color: pink;
  background-blend-mode: lighten;
  background-position: 0px 0px;
  animation: animatedBackground 60s linear infinite;
}

.bg-2 {
  background-image: url("bg_hearts.jpg");
  background-color: lightcoral;
  background-blend-mode: lighten;
  background-position: 0px 0px;
  /* background-repeat: repeat-x; */
  animation: animatedBackgroundRev 60s linear infinite;
}

.bg-3 {
  background-image: url("bg_karaoke.png"), url("bg_grad_redblue.jpg");
  background-color: blue, white;
  background-blend-mode: color, normal;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 60vw, cover;
}

.bg-4 {
  background-image: radial-gradient(rgba(255, 255, 0, 0.5), rgba(255, 255, 255, 1)), url("bg_flowers.jpg");
  background-color: yellow;
  background-blend-mode: normal, multiply;
  background-size: cover, cover;
  background-position: 0px 0px;
  animation: animatedBackground2 60s linear infinite;
}

.bg-5 {
  background-image: radial-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 255, 1)), url("bg_clubpenguin.jpg");
  background-color: white;
  background-blend-mode: normal, multiply;
  background-size: cover, 200vw;
  background-position: 0px 0px;
  animation: animatedBackground3 30s ease infinite alternate;
}

.bg-6 {
  background-image: radial-gradient(rgba(127, 255, 127, 0.5), rgba(255, 255, 255, .8)), url("bg_stardewvalley.png");
  background-color: white;
  background-blend-mode: normal, multiply;
  background-size: cover, 120vw;
  background-position: 0px 0px;
  animation: animatedBackground3 30s ease infinite alternate;
}

.bg-7 {
  background-image: url("bg_cozinha.png");
  background-color: lightsalmon;
  background-blend-mode: darken;
  background-position: 0px 0px;
  /* background-repeat: repeat-x; */
  animation: animatedBackgroundRev 30s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes animatedBackground3 {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 0 0, 100% 100%;
  }
}

@keyframes animatedBackground2 {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 0 0, 100vw 100vh;
  }
}

@keyframes animatedBackgroundRev {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 100%;
  }
}